/*CONTACT FORM STYLES*/
section#contact .container {
  display: grid;
  grid-template-columns: 1fr auto;
}

section#contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-self: center;
  gap: 1rem;
}

section#contact form input,
section#contact form textarea {
  padding: 1.4rem;
  background: var(--color-primary);
}

section#contact form textarea {
  height: 10rem;
}

section#contact form input::placeholder,
section#contact form textarea::placeholder {
  color: var(--color-white);
}

section#contact form input:focus,
section#contact form textarea:focus {
  background: var(--color-black);
  color: var(--color-white);
}

section#contact form button {
  width: 8rem;
}
/*END OF CONTACT FORM STYLES*/

/*==========MEDIA QUERIES CONTACT FORM STYLES FOR SMARTPHONE==========*/
@media screen and (max-width: 600px) {
  section#contact .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
